@import "https://fonts.googleapis.com/css?family=Rubik+Mono+One";
.title{
  height: 350px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F9FAF4;
  overflow: hidden;
  font-family: 'Rubik Mono One', sans-serif;
}

.words {
  color: #F9FAF4;
  font-size: 0;
  line-height: 1;
}
.words span {
  font-size: 75px;
  display: inline-block;
  animation: move 4s ease-in-out infinite;
}
.words span:nth-child(2) {
  animation-delay: 0.4s;
}
.words span:nth-child(3) {
  animation-delay: 1s;
}
.words span:nth-child(4) {
  animation-delay: 1.6s;
}
.words span:nth-child(5) {
  animation-delay: 2.2s;
}
.words span:nth-child(6) {
  animation-delay: 2.8s;
}
.words span:nth-child(7) {
  animation-delay: 3.4s;
}
.words span:nth-child(8) {
  animation-delay: 4s;
}
.words span:nth-child(9) {
  animation-delay: 4.6s;
}
.box
{
    display:inline-block;
    border:0;
    margin:0;
    width:294.9px;
    height:280px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.box:hover
{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}
.box1
{
  background:rgb(158, 85, 88);
}
.box1:hover
{
  background-position: center;
  background-image: url("burden1.png");
  background-size: 90%;
}
.box2
{
  background:rgb(249, 247, 208);
}
.box2:hover
{
  background-position: center;
  background-image: url("3.png");
  background-size: 90%;
}
.box3
{
  background:rgb(95, 116, 112);
}
.box3:hover
{
  background-position: center;
  background-image: url("cover.png");
  background-size: 80%;
}
.box4
{
  background:rgb(163, 164, 120);
}
.box4:hover
{
  background-position: center;
  background-image: url("6.png");
  background-size: 100%;
}
.box5
{
  background:rgb(156, 128, 126);
}
.box5:hover
{
  background-position: center;
  background-image: url("7.png");
  background-size: 80%;
}
.box6
{
  background:rgb(223, 167, 121);
}
.box6:hover
{
  background-position: center;
  background-image: url("burden4.jpeg");
  background-size: 90%;
}
.box7
{
  background:#5C565D;
}
.box7:hover
{
  background-position: center;
  background-image: url("5.png");
  background-size: 70%;
}
.box8
{
  background:#DCD8A6;
}
.box8:hover
{
  background-position: center;
  background-image: url("8.png");
  background-size: 75%;
}
.box9
{
  background:#865F66;
}
.box9:hover
{
  background-position: center;
  background-image: url("9.png");
  background-size: 80%;
}
.box10
{
  background:#E1B09E;
}
.box10:hover
{
  background-position: center;
  background-image: url("10.png");
  background-size: 100%;
}
@keyframes move {
  0% {
    transform: translate(-20%, 0);
  }
  50% {
    text-shadow: 0 10px 15px rgba(51, 25, 22, 0.4);
  }
  100% {
    transform: translate(10%, 0);
  }
}
