
body {
    background-color: lightsteelblue;
}

main {
    background-color: #ccdcdc;
    padding: 10px;
    border: solid 15px #011f4b;
    margin: 4vh;
}

p {
    color: #5d84a6;
    font-size: 30px;
    font-family: Arial;
}

#WebTitle {
    color: #6da6b8;
    font-size: 45px;
    background-color: whitesmoke;
    padding: 4vw;
    margin: 10px;
}

iframe {
    background-color: lightskyblue;
    padding: 50px;
}
a p {
    font-size: 30px;
    background-color: whitesmoke;
}

a {
    background-color: blanchedalmond;
}

div {
    background-color: midnightblue;
}